sw/.vscode/
sw/!build
sw/build/*
sw/!build/*.uf2
hw/*.000
hw/*.bak
hw/*.bck
hw/*.kicad_pcb-bak
hw/*.kicad_sch-bak
hw/*-backups
hw/*.kicad_prl
hw/*.sch-bak
hw/*~
hw/_autosave-*
hw/*.tmp
hw/*-save.pro
hw/*-save.kicad_pcb
hw/fp-info-cache
hw/*.net
hw/*.dsn
hw/*.ses
hw/*.xml
hw/*.csv